@keyframes textIn {
    0% {
        transform: translateY(150%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes revealImage {
    0% {
        top: 0;
    }

    100% {
        top: -100%;
    }
}

@keyframes overflow {
    0% {
        overflow: hidden;
    }

    100% {
        overflow: auto;
    }
}