.contact-block{
    &__form {
        > form {
            .input-group {                

                .inner {
                    @apply pt-4 lg:pt-8;
                    transition: border-color .15s ease-in;

                    &.invalid {

                        .input-group__validation {
                            display: block;
                        }

                        .input-group__field {
                            input,textarea {
                                border-color: $darkRed;
                            }
                        }
                    }

                    &.valid {
                        .input-group__field {
                            input,textarea {
                                border-color: $blue;
                            }
                        }
                    }
                }

                &__header {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    @apply pb-4 md:pb-6;

                    span {
                        color: $grey;
                        display: inline-block;
                        @apply pb-2;
                        width: 30px;
                    }

                    label {
                        @apply text-lg;                        
                        @apply w-full;
                    }

                    @media screen and (min-width: 450px) {
                        span {
                            flex: 0 1 30px;      
                            @apply pb-0;                      
                        }

                        label {
                            flex: 0 1 auto;                            
                        }
                    }
                }

                &__field {

                    @apply pb-2;

                    input, textarea {
                        background: #2F2F33;                        
                        outline: none !important;
                        border-radius: 8px;
                        border: solid 1px #6D6D73;
                        @apply py-4 px-6;
                        width: 100%;               
                        @apply text-md;        

                        &:focus {
                            border-color: $blue !important;
                        }

                        &.valid {
                            border-color: $white;
                        }

                        &.invalid {
                            border-color: $red;

                            & + .input-group__validation {
                                opacity: 1;
                                color: $red;
                            }
                        }
                      
                    }
                    
                    textarea {
                        resize: vertical;
                        max-height: 300px;
                        min-height: 200px;
                    }                     
                }

                &__validation {

                    display: none;
                    @apply pt-3;  

                    li {
                        color: $darkRed;
                        list-style-position: inside;
                    }
                               
                }

                &.submit {                    
                    text-align: right;
                    border-bottom: none !important;
                    @apply pt-4;

                    .inner {
                        border-bottom: none !important;
                    }

                    button {                        
                        display: inline-block;
                    }
                }

                &:last-of-type {
                    @apply pb-4 lg:pb-8;
                    border-bottom: solid 1px $grey;
                }
            }
        }
    }

    &__info {
        color: $white;
    }
}