.contact-block{
    &__form {
        > form {
            .input-group {                

                .inner {
                    border-bottom: solid 1px $grey;
                    @apply pt-4 lg:pt-8;
                    transition: border-color .15s ease-in;

                    &.invalid {

                        .input-group__validation {
                            display: block;
                        }
                    }

                    &.valid {
                        border-bottom-color: $blue;
                    }
                }

                &__header {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;

                    span {
                        color: $grey;
                        display: inline-block;
                        @apply pb-2;
                        width: 30px;
                    }

                    label {
                        @apply text-lg;
                        @apply md:pl-6 lg:pl-8 #{!important};
                        top: -4px;
                        @apply w-full;
                    }

                    @media screen and (min-width: 450px) {
                        span {
                            flex: 0 1 30px;      
                            @apply pb-0;                      
                        }

                        label {
                            flex: 0 1 auto;
                            @apply pt-0 pl-4;
                        }
                    }
                }

                &__field {

                    @apply pb-2;

                    input, textarea {
                        background: transparent;                        
                        outline: none !important;

                        @apply py-6;
                        width: 100%;                        

                        &:focus {
                            border-color: $blue !important;
                        }

                        &.valid {
                            border-color: $white;
                        }

                        &.invalid {
                            border-color: $red;

                            & + .input-group__validation {
                                opacity: 1;
                                color: $red;
                            }
                        }

                        @media screen and (min-width: 450px) {
                            padding-left: 30px;
                        }
    
                        @media screen and (min-width: $bpMedium) {
                            padding-left: calc(30px + 1.5rem);
                        }
    
                        @media screen and (min-width: $bpLarge) {
                        }

                        @media screen and (min-width: $bpLarge) {                            
                            padding-left: calc(30px + 2rem);
                        }
                    }
                    
                    textarea {
                        resize: vertical;
                        max-height: 300px;
                        min-height: 200px;
                    }                     
                }

                &__validation {

                    display: none;
                    @apply py-3;     

                    li {
                        color: $darkRed;
                        list-style: disc;
                    }


                    @media screen and (min-width: 450px) {
                        padding-left: 30px;
                    }

                    @media screen and (min-width: $bpMedium) {
                        padding-left: calc(30px + 1.5rem);
                    }

                    @media screen and (min-width: $bpLarge) {
                    }

                    @media screen and (min-width: $bpLarge) {                            
                        padding-left: calc(30px + 2rem);
                    }                                
                }

                &.submit {                    
                    text-align: right;
                    border-bottom: none !important;
                    @apply pt-4;

                    .inner {
                        border-bottom: none !important;
                    }

                    button {                        
                        display: inline-block;
                    }
                }

                &:last-of-type {
                    @apply pb-4 lg:pb-8;
                    border-bottom: solid 1px $grey;
                }
            }
        }
    }

    &__info {
        color: $white;
    }
}