.site-nav {
    
    @apply pt-6; 
    animation: fadeIn .25s cubic-bezier(0.7, 0.6, 0, 1) forwards;
    opacity: 0;

    .container {
        background: $black;
        border-radius: 120px;
        color: $white;
        @apply py-3 px-8;
        max-width: 100%;
    }

    &__brand {

        flex: 1 0 auto;        

        a {
            display: block;
            color: $white;
            text-decoration: none;
        }
    }

    &__cta {
        flex: 0 1 auto;
        align-items: center;
        @apply pr-10 lg:pr-14;
    }

    &__toggle {
        flex: 0 1 auto;
        display: flex;
        align-items: center;

        button {

            width: 30px;
            height: 20px;

            span {

                display: block;
                background: $white;
                height: 2px;
                width: 30px;
    
                &::before, &::after {
                    content: "";
                    display: block;
                    width: 30px;
                    height: 2px;
                    position: absolute;                    
                    background: $white;
                }

                &::before {
                    top: -8px;                    
                }

                &::after {
                    bottom: -8px;
                }
            }
        }
    }
}