@font-face {
    font-family: GeneralSansRegular;
    src: url('/fonts/general_sans/GeneralSans-Regular.otf');
}

@font-face {
    font-family: GeneralSansMedium;
    src: url('/fonts/general_sans/GeneralSans-Medium.otf');
}

@font-face {
    font-family: NeueMedium;
    src: url('/fonts/neue_montreal/PPNeueMontreal-Medium.otf');
}

@font-face {
    font-family: NeueSemiBold;
    src: url('/fonts/neue_montreal/PPNeueMontreal-SemiBold.otf');
}

@font-face {
    font-family: NeueBold;
    src: url('/fonts/neue_montreal/PPNeueMontreal-Bold.otf');
}

@font-face {
    font-family: NeueMedium;
    src: url('/fonts/neue_montreal/PPNeueMontreal-Medium.otf');
}

@font-face {
    font-family: GeneralSansMedium;
    src: url('/fonts/general_sans/GeneralSans-Medium.otf');
}

.generalsans {
    font-family: GeneralSansRegular, sans-serif;
    font-weight: 400;
}

.generalsans-medium {
    font-family: GeneralSansMedium, sans-serif;
    font-weight: 500;
}

.neue-medium {
    font-family: NeueMedium, sans-serif;
    font-weight: 500;
}

.neue-semibold {
    font-family: NeueSemiBold, sans-serif;
    font-weight: 700;
}

.neue-bold {
    font-family: NeueBold, sans-serif;
    font-weight: 900;
}