.theme-dark {
    background: $black;
    color: $white;

    .site-nav {
       .container {
            background: $white;            
       }

       &__brand {
            a {
                color: $black;
            }
       }

       &__toggle {
            button {
                svg, path {
                
                    stroke: $black;
                }
            }
       }
    }

    .site-header {
        color: $white;

        &__image {
            &::after {
                background: $black;
            }
        }
    }

    section {
        &, * {
            color: $white;
        }
    }

    .project-card {
        &--featured {
            .project-card {
            
                &__inner {
                    background: #f7f7f7;

                    &:hover {
                        .project-card__image {
                            figure::after {
                                box-shadow: inset 0 0 20px rgba(darken($white, 20%), .8);
                            }
                        }
                    }
                }

                &__text {
                    &, * {
                        color: $black !important;
                    }
                }
            }
        }
    }

    .cta-banner {
        background: #f7f7f7;
        
        h2 {
            &, * {
                color: $black;
            }
        }
    }

    .site-footer {
        color: $white;
    }
}

html:not(.theme-dark) {
    form {
        input {
            color: $white;
        }
    }
}