$black: #181818;
$white: #FFFFFF;
$blue: #3C72FF;
$lightBlue: #53C1FF;
$purple: #A953FF;
$red: #FF5353;
$lightGrey: #C3C4CD;
$grey: #B8B8B8;

$bpSmall: 648px;
$bpMedium: 768px;
$bpLarge: 1024px;
$bpXLarge: 1280px;